@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-surface: #131313;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container: #201f1f;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353534;
  --color-surface-bright: #393939;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #c2c6d8;
  
  --color-outline: #8c90a1;
  --color-outline-variant: #424656;
  
  --color-primary: #b3c5ff;
  --color-primary-container: #0066ff;
  --color-on-primary-container: #f8f7ff;
  
  --color-tertiary: #6bd8cb;
  --color-tertiary-container: #008075;
  
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;

  --shadow-ambient: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

.grid-pattern {
  background-image: radial-gradient(#424656 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  opacity: 0.15;
}

/* Hide scrollbar for clean UI */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
